.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 4vw;
    width: 100vw;
    background: rgba(204, 204, 204, 0.507);
}

@media screen and (max-width: 1200px) {
    .contain {
        height: 5vw;
    }
}

@media screen and (max-width: 900px) {
    .contain {
        height: 6vw;
    }
}

@media screen and (max-width: 850px) {
    .contain {
        height: 7vw;
    }
}

@media screen and (max-width: 750px) {
    .contain div ul li a {
        font-size: 13px;
    }
}

@media screen and (max-width: 550px) {
    .contain {
        height: 50px;
    }

    .contain div ul li a {
        font-size: 10px;
    }
}

.containIconsLeft a {
    margin: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.containIconsLeft a svg {
    margin-right: 5px;
}

.containIconsLeft, .containTextRight {
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.containTextRight ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
}

@media screen and (max-width: 750px) {
    .containIconsLeft, .containTextRight {
        align-items: center;
        justify-content: center;
    }

    .containIconsLeft {
        max-width: 35vw;
        font-size: 13px;
        justify-content: space-around;
    }

    .containIconsLeft a {
        font-size: 11px;
    }

    .containTextRight ul {
        justify-content: space-between;
        position: relative;
        bottom: 2px;
        margin-right: 25px;
    }
}


@media screen and (max-width: 550px) {
    .containIconsLeft, .containTextRight {
        max-width: 40vw;
    }

    .containTextRight ul {
        min-width: 43vw;
        justify-content: center;
        margin-right: 0;
        padding: 0;
    }

    .containTextRight ul li {
        margin-right: 10px;
        margin-left: 0;
        padding: 0;
    }

    .containTextRight ul li a {
        font-size: 10px;
    }
}

li {
    list-style: none;
}

.contain div {
    width: 50vw;
}

.text {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
