.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 4vw;
    width: 100vw;
}

@media screen and (max-width: 1200px) {
    .contain {
        height: 5vw;
    }
}

@media screen and (max-width: 900px) {
    .contain {
        height: 6vw;
    }
}

@media screen and (max-width: 850px) {
    .contain {
        height: 7vw;
    }
}

@media screen and (max-width: 750px) {
    .contain div p {
        font-size: 13px;
    }
}

@media screen and (max-width: 550px) {
    .contain {
        height: 50px;
    }

    .contain div p {
        font-size: 10px;
    }
}

.containTextRight{
    background: rgba(204, 204, 204, 0.507);
    flex-direction: row;
    justify-content: space-around;
}

.containText, .containTextRight{
    background: rgba(204, 204, 204, 0.507);
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.contain div {
    width: 50vw;
}

.text {
    color: aliceblue;
}
