.containSkills {
    background: url(../../../Assets/background.png) center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-snap-stop: normal;
}

.textPointSkills {
    position: relative;
    bottom: 60px;
    left: -1000px;
}

.textSkills, .textSkillsTitle{
    color: aliceblue;
}

.textSkills {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textSkillsTitle {
    position: relative;
    top: 50px;
    font-family: "Great Vibes";
    font-size: 50px;
}

.containSkillImgs {
    display: flex;
    flex-direction: row;
    margin: 10vh 0 0 0;
    width: 95vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgSkill {
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

.imgSkill:hover {
    background: #f00;
    cursor: pointer;
}

.imgSkillSeleted {
    position: relative;
    bottom: 20px;
    opacity: .9;
}

.imgSkillSeleted:hover {
    cursor: default;
}

.containDescriptionSkill {
    margin: 10vh 60px 20px 60px;
    display: flex;
    justify-content: center;
    background: #fff;
    min-width: 85vw;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid red;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .containDescriptionSkill {
        margin: 10vh 60px 20px 50px;
    }
}

.containDescriptionSkill span {
    color: #000;
    font-size: 20px;
    word-break: keep-all;
}
