body {
    overflow-x: hidden;
}

.containAll {
    background: url('./../../Assets/bgindex.gif');
    height: 99vh;
    width: 100vw;
    border: 1px black solid;
    padding-top: 4.5vh;
}

.containTitle {
    display: flex;
    justify-content: center;
}

.containAll .containTitle h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
