.containProjects {
    background: url(../../../Assets/background2.png) center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-snap-stop: normal;
}

.textProjects{
    color: aliceblue;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.containProjectsImgs {
    padding: 20px 0;
    background: #fff;
    width: 90vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #f00;
    margin-bottom: 50px;
}

.containProject {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgsProject {
    height: 100px;
    width: 100px;
    background: #000;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #000;
}

.imgsProjectsEmpty {
    background: #fff;
    cursor: default;
}

.containIFrame {
    background: #fff;
    width: 90vw;
    border-radius: 10px;
    border: 1px solid #f00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.containBackProjects {
    cursor: pointer;
}

.textDescribe {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

iframe {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
