.containProjects {
    min-height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textProjects{
    color: aliceblue;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
